target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/architecture/*.png
!**/src/main/resources/architecture/*.jpg

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Others ###
src/main/resources/application-local.yml
uploads/
*.log
*.temp
